.dcms-shortcode{
    background-color: #0073AA;
    border-radius:4px;
    Padding:10px 20px;
    color:white;
}

#pre-login{
    width: 50%;
    height: 100vh;
    min-height: 100vh;
}

#wp-admin-bar-customarea span:before{
    display: inline-block;
    margin-top: 5px;
    margin-right: 4px;
}

.tag{
    color:white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 10px;
}

.tag-approved{
    background-color: #4CAF50;
}

.tag-no-approved{
    background-color: #F44336;
}

.tag-pending{
    background-color: #e5ae09;
}